@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: Roboto;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

h1 {
  position: absolute;
  top: -0.5em;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
}

h1 > img {
  top: 0.45em;
  position: relative;
}

#titlebar {
  position: absolute;
  height: 5.5em;
  background-color: #4d97ff;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0px 0px 0px 5px rgba(77, 151, 255, 0.49);
  box-shadow: 0px 0px 0px 5px rgba(77, 151, 255, 0.49);
}

#logo {
  position: absolute;
  height: calc(5.5em - 20px);
  top: 0;
  left: 0;
  margin: 10px;
  z-index: 5;
}

audio {
  position: fixed;
  bottom: -75px;
  left: 0;
  margin: 10px;
  width: calc(100% - 20px);
  height: 75px;
  transition: all 0.35s ease-in-out;
  border-radius: 0px !important;
}

audio[data-hidden="false"] {
  bottom: 0;
}

audio:focus {
  outline: none;
  z-index: 900;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #4d97ff90;
  z-index: 1000;
}

#overlay[data-hidden="true"] {
  display: none;
}

h3 {
  position: absolute;
  top: calc(50% - calc(2rem + calc(calc(50px / 2) + 30px)));
  left: 0;
  right: 0;
  text-align: center;
  color: white;
}

.spinner {
  position: absolute;
  top: calc(50% - calc(50px / 2));
  left: calc(50% - calc(50px / 2));
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 5px solid #c9e0ff;
  border-top: 5px solid #4d97ff;
  animation: spin 1s ease-out infinite;
}

#upload {
  position: absolute;
  left: 150px;
  right: 150px;
  top: 10rem;
  padding: 20px;
  height: 300px;
  border-radius: 2em;
  overflow: visible;
}

#desc{
  position: absolute;
  left: 150px;
  right: 150px;
  top: 0rem;
  padding: 20px;
  height: 1075px;
  border-radius: 2em;
  overflow: visible;
}

.insetDash {
  position: absolute;
  margin: 5px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: inherit;
  border: 3px dashed #c9e0ff;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #4d97ff;
  z-index: -500;
  border-radius: inherit;
  -webkit-box-shadow: 0px 0px 0px 5px rgba(77, 151, 255, 0.49);
  box-shadow: 0px 0px 0px 5px rgba(77, 151, 255, 0.49);
}

.grey .insetDash {
  position: absolute;
  margin: 5px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: inherit;
  border: 3px dashed #60606070;
}

.grey .background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #60606040 !important;
  z-index: -500;
  border-radius: inherit;
  -webkit-box-shadow: 0px 0px 0px 5px #60606020 !important;
  box-shadow: 0px 0px 0px 5px #60606020 !important;
}

.grey h2 {
  color: black;
}

#description {
  position: absolute;
  left: 15px;
  bottom: 15px;
  right: 15px;
  top: 5rem;
  text-align: center;
  font-style: italic;
}

#affiliation {
  position: absolute;
  left: 15px;
  bottom: 15px;
  right: 15px;
  top: 7rem;
  text-align: center;
  font-style: italic;
  font-size: 9px;
}

#how {
  top: 10rem;
}

#use {
  position: absolute;
  left: 15px;
  bottom: 15px;
  right: 15px;
  top: 13rem;
  text-align: center;
  font-style: italic;
}

#example {
  position: absolute;
  left: 15px;
  bottom: 15px;
  right: 15px;
  top: 40rem;
  text-align: center;
  font-style: italic;
}

#uploadbtn {
  cursor: pointer;
  display: block;
  color: #212529;
  background-color: #ced4da;
  border-color: #ced4da;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #0000;
  padding: 0.375rem 0.75rem;
  font-size: 0.75rem;
  line-height: 1.5;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: button;
  z-index: 2;
}

#uploadbtn:hover {
  color: #212529;
  background-color: #b8c1ca;
  border-color: #b1bbc4;
}

#uploadbtn:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgb(180 186 191 / 50%);
  box-shadow: 0 0 0 0.2rem rgb(180 186 191 / 50%);
  outline: none;
}

.customUpload {
  position: absolute;
  height: 32px;
  top: 6rem;
  width: 100px;
  left: calc(50% - 50px);
}

.customUpload > * {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.customUpload > input {
  display: none;
  z-index: -500;
}

h2 {
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  top: 1.5rem;
  text-align: center;
}

h4 {
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  top: 8rem;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
}

h5 {
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  top: 12.5rem;
  text-align: center;
  font-size: 15px;
  line-height: 15px;
}

.overlayed *:not(#overlay):not(#overlay *) {
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
}

#upload > .highlight {
  height: 100%;
  width: 100%;
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0.5;
  z-index: 10;
  display: none;
}

.dropHover > .highlight {
  display: block !important;
}

#step2 {
  position: absolute;
  left: 150px;
  right: 150px;
  top: 600px;
  padding: 20px;
  height: 500px;
  border-radius: 2em;
  overflow: visible;
}

canvas {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  transform: rotate(180deg);
  position: absolute;
}

#canvascontainer {
  top: 7rem;
  left: 15px;
  height: calc(100% - calc(7rem + 15px));
  width: calc(100% - 30px);
  overflow: hidden;
  position: absolute;
  border-radius: 1.5em;
}

p.subtitle {
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  top: 4rem;
  text-align: center;
}

.container {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 0;
  margin: 0;
  height: fit-content;
}

.scratchblocks-inline {
  margin-right: -25px;
}

.scratchblocks > svg {
  transform: scale(0.675);
  transform-origin: 0 0;
}

.scratchblocks-inline > svg {
  transform: scale(0.675) translateY(2.3em);
  transform-origin: 0 0;
}

#mainScript {
  position: absolute;
  top: 23rem;
  left: calc(50% - 500px);
}

iframe {
  left: calc(50% - 250px);
  position: absolute;
  bottom: 15px;
  z-index: 6;
  background-color: #e5f0ff;
  border-radius: 7px;
}

#step3 {
  position: absolute;
  left: 150px;
  right: 150px;
  top: 1200px;
  padding: 20px;
  height: 10rem;
  border-radius: 2em;
  overflow: visible;
}

#downloadbtn {
  cursor: pointer;
  display: block;
  color: #212529;
  background-color: #ced4da;
  border-color: #ced4da;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #0000;
  padding: 0.375rem 0.75rem;
  font-size: 0.75rem;
  line-height: 1.5;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: button;
  z-index: 2;
}

#downloadbtn:hover {
  color: #212529;
  background-color: #b8c1ca;
  border-color: #b1bbc4;
}

#downloadbtn:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgb(180 186 191 / 50%);
  box-shadow: 0 0 0 0.2rem rgb(180 186 191 / 50%);
  outline: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}