* {
    font-family: Roboto;
    user-select: none;
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-track {
    background: white;
    padding: 5px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border: 1px solid white;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 20px;
}

#navbar {
    height: 60px;
    position: fixed;
    top: -10px;
    left: 0;
    right: 0;
    transition: all 0.5s ease-out;
    z-index: 5000;
    box-shadow: none;
}

#navbar > #navbarbg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.25;
    background-color: rgb(255, 255, 255);
    transition: all 0.5s ease-out;
    z-index: 5000;
}

#navbar[data-shadow="true"] > #navbarbg,
#navbar:hover > #navbarbg {
    opacity: 1;
}

#navbar[data-shadow="true"],
#navbar:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#navbar a {
    position: absolute;
    padding: 20px;
    top: 7px;
    bottom: 0;
    color: white;
    opacity: 1;
    z-index: 5001;
    transition: color 0.5s ease-out, background-color 0.25s ease-out, text-shadow 0.5s ease-out;
    user-select: none;
    cursor: pointer;
    line-height: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
    text-decoration: none;
    white-space: nowrap;
}

#navbar a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#navbar[data-shadow="true"] a,
#navbar:hover a {
    color: black;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0);
}

#navbar-main {
    width: calc(100% - 215px);
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow-x: scroll;
    overflow-y: hidden;
}

#navbar-secondary {
    width: 215px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    overflow-x: scroll;
    overflow-y: hidden;
}

[id*="navbar-"]::-webkit-scrollbar {
    display: none;
}

[id*="navbar-"]::before,
[id*="navbar-"]::after {
    transition: all 0.5s ease-out;
}

#navbar-main[data-overflow="both"]::before,
#navbar-main[data-overflow="left"]::before {
    content: "";
    width: 50px;
    height: 10px;
    left: -20px;
    top: 20px;
    position: fixed;
    margin: 0;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    transform: rotate(90deg);
    z-index: 5001;
}

#navbar-main[data-overflow="both"]::after,
#navbar-main[data-overflow="right"]::after {
    content: "";
    width: 50px;
    height: 10px;
    right: 195px;
    top: 20px;
    position: fixed;
    margin: 0;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    transform: rotate(-90deg);
    z-index: 5001;
}

#navbar[data-shadow="true"] #navbar-main[data-overflow="both"]::before,
#navbar[data-shadow="true"] #navbar-main[data-overflow="left"]::before,
#navbar:hover #navbar-main[data-overflow="both"]::before,
#navbar:hover #navbar-main[data-overflow="left"]::before {
    filter: brightness(0);
}

#navbar[data-shadow="true"] #navbar-main[data-overflow="both"]::after,
#navbar[data-shadow="true"] #navbar-main[data-overflow="right"]::after,
#navbar:hover #navbar-main[data-overflow="both"]::after,
#navbar:hover #navbar-main[data-overflow="right"]::after {
    filter: brightness(0);
}

.link {
    position: absolute;
}

.banner {
    position: absolute;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.full.width {
    width: 100%;
}

.full.height {
    height: 100%;
}

#banner {
    top: 0;
    left: 0;
    height: 400px;
    background-image: url("../images/banner.jpg");
}

.blur {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 0;
}

.blur.dark {
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

#bannerText {
    height: 75px;
    position: absolute;
    top: calc(50% - 37.5px);
    width: 400px;
    left: calc(50% - 200px);
    position: absolute;
}

#bannerText > p {
    color: white;
    text-align: center;
    font-size: 30px;
    line-height: 17.5px;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

#main-content {
    top: 400px;
    position: absolute;
    left: 0;
    width: 100%;
}

.header {
    height: 100px;
    width: 100%;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 20px;
    line-height: 100px;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    text-transform: uppercase;
}

.content {
    position: absolute;
    width: calc(100% - 50px);
    max-width: 1000px;
    color: rgba(0, 0, 0, 0.75);
    text-indent: 2em;
    left: 0px;
    padding: 25px;
    line-height: 1.7em;
    overflow-y: scroll;
}

.tab {
    display: inline-block;
    width: 2em;
}

.content::-webkit-scrollbar {
    width: 7px;
}

.content::-webkit-scrollbar-track {
    background: white;
    padding: 5px;
}

.content::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border: 1px solid white;
}

.content::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 20px;
}

.content a {
    color: rgba(0, 0, 0, 0.75);
}

.centered {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
}

.skillBar {
    position: absolute;
    height: 30px;
    width: 75%;
    max-width: 1000px;
    left: 12.5%;
    border: 2px solid rgba(0, 0, 0, 0.1);
    margin: 0;
    overflow: hidden;
}

.skillBar > div {
    height: 100%;
    position: absolute;
    transition: width 1s cubic-bezier(0.39, 0.58, 0.57, 1);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    line-height: 30px;
}

.skillText {
    position: absolute;
    color: rgba(0, 0, 0, 0.5);
    left: 12.5%;
    padding-left: 10px;
}

#scratchStats {
    position: absolute;
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    border-top: 1px solid rgba(0, 0, 0, 0.25);
}

#scratchLoader {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(77, 151, 255);
    z-index: 5;
}

#scratchSpinnerCover {
    clip-path: path('M 60.545 84.84 c -5.85 -0.9225 -8.985 -4.905 -7.425 -17.2125 l 0.1725 -1.485 c 1.3125 -10.695 2.4075 -13.0725 7.47 -12.795 c 1.485 0.0975 3.195 1.05 4.905 2.475 c 1.5825 1.8525 5.1 4.26 7.0875 9.03 c 1.425 3.495 1.905 5.775 2.1075 8.235 l 0.315 3.015 v -0.015 a 5.1 5.1 90 0 0 10.065 -0.0525 c 0.06 -0.33 1.32 -32.7375 1.32 -33.27 c 0 -2.85 -2.265 -5.175 -5.1 -5.22 a 5.1375 5.1375 90 0 0 -5.115 5.16 c 0 0.0675 -0.0075 4.5375 -0.105 9.045 c -4.02 -4.44 -9.1725 -8.4225 -14.955 -8.775 c -15.435 -0.825 -17.1225 13.5825 -18.1425 21.885 l -0.15 1.47 c -2.085 16.4175 3.3075 26.7675 15.975 28.7775 c 13.785 2.1975 22.9725 5.4 23.055 14.01 c 0.0525 3.345 -1.68 6.7725 -4.7025 9.405 a 16.2225 16.2225 90 0 1 -13.1175 3.8025 a 24.2475 24.2475 90 0 1 -4.0425 -1.0575 c -1.8 -1.02 -6.3525 -3.825 -8.655 -7.065 c -1.95 -2.73 -2.625 -7.0275 -2.835 -9.75 c 0.03 -1.2225 0.0375 -2.025 0.0375 -2.1225 a 5.175 5.175 90 0 0 -5.0175 -5.2725 a 5.1675 5.1675 90 0 0 -5.22 5.115 c 0 0.0975 -0.1275 10.2525 -0.495 16.3725 c -0.525 9.8475 0 18.195 0 18.555 c 0.21 2.865 2.625 5.025 5.4525 4.83 a 5.1075 5.1075 90 0 0 4.7625 -5.4975 c 0 -0.045 -0.2475 -4.0875 -0.2175 -9.675 a 39.075 39.075 90 0 0 14.535 5.7975 a 25.8825 25.8825 90 0 0 21.42 -6.15 c 5.3475 -4.6425 8.415 -10.98 8.325 -17.4 c -0.18 -19.1625 -21.4875 -22.53 -31.71 -24.165 M 81.305 0 a 41.325 41.325 90 0 0 -20.43 5.4225 h -0.84 c -19.7775 0 -37.0275 10.44 -46.125 27.96 c -5.46 10.4475 -6.75 20.625 -7.4925 26.8425 c -0.09 0.6675 -0.135 1.275 -0.21 1.965 c -0.9 7.305 -0.9225 14.28 -0.075 20.79 a 43.68 43.68 90 0 0 -4.6875 18.9675 v 0.12 a 441.8925 441.8925 90 0 1 -0.4275 14.625 a 222.9 222.9 90 0 0 -0.06 22.05 l 0.0975 1.5675 C 2.735 162.57 21.1925 180 43.1225 180 a 41.37 41.37 90 0 0 25.9725 -9.075 a 62.6775 62.6775 90 0 0 38.9625 -15.6 c 13.695 -11.9025 21.4425 -28.8375 21.225 -46.425 c -0.0975 -10.215 -2.595 -19.785 -7.335 -28.2225 c 0.8775 -9.5475 1.6575 -37.47 1.6575 -37.725 c 0 -23.2725 -18.63 -42.525 -41.5425 -42.9525 z m 0.42 20.0625 c 12.315 0.225 22.335 10.59 22.335 23.1075 c 0 0.285 -1.0875 33.7275 -1.6125 36.6225 a 23.64 23.64 90 0 1 -1.5225 5.175 c 5.67 6.675 8.7375 15 8.8125 24.42 c 0.1575 11.6625 -5.1075 23.07 -14.445 31.2 a 43.2225 43.2225 90 0 1 -28.5 10.83 a 44.895 44.895 90 0 1 -5.385 -0.36 a 25.395 25.395 90 0 1 -1.29 1.6125 a 22.275 22.275 90 0 1 -16.98 7.785 c -11.7975 0 -21.7275 -9.4125 -22.5975 -21.42 l -0.06 -0.915 a 205.245 205.245 90 0 1 0.0375 -19.965 c 0.2925 -5.0925 0.45 -13.7325 0.465 -15.6 a 23.43 23.43 90 0 1 5.8725 -15.1875 c -1.7775 -6.2625 -2.34 -13.77 -1.2525 -22.65 l 0.18 -1.59 c 0.6225 -5.2125 1.56 -12.9 5.4 -20.25 c 5.7375 -11.0475 16.26 -17.385 28.86 -17.385 a 34.26 34.26 90 0 1 6.18 0.525 c 4.095 -3.75 9.525 -6.075 15.5025 -5.955 z');
    background-color: transparent;
    position: absolute;
    height: 180px;
    width: 130px;
    top: calc(50% - 90px);
    left: calc(50% - 65px);
    overflow: hidden;
}

#scratchSpinner {
    position: absolute;
    top: 0;
    left: -35px;
    height: 200px;
    width: 100px;
    background-color: white;
    animation: load 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
    transform-origin: 100% calc(50% - 35px);
    border-top: 50px solid white;
}

#scratchLoader > p {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% + 100px);
    color: white;
    text-align: center;
}

#bannerContainer {
    position: absolute;
    height: 100%;
    width: 25%;
    left: 0;
    top: 0;
}

#bannerContainer > div {
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.stat {
    background-color: white;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    padding: 0;
    color: rgba(0, 0, 0, 0.25);
    font-style: italic;
    height: calc(50% - 40px);
}

.stat > p {
    margin-top: 30px;
}

.stat > p > span {
    font-size: 4em;
    font-weight: bold;
    line-height: 105px;
    color: rgba(0, 0, 0, 0.75);
    font-style: normal;
}

.quarter {
    position: absolute;
    width: 50%;
    height: 50%;
}

.top {
    top: 0;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.25);
}

.bottom {
    bottom: 0;
    border-top: 0.5px solid rgba(0, 0, 0, 0.25);
}

.left {
    left: 0;
    border-right: 0.5px solid rgba(0, 0, 0, 0.25);
}

.right {
    right: 0;
    border-left: 0.5px solid rgba(0, 0, 0, 0.25);
}

#profileData {
    position: absolute;
    background-color: rgb(77, 151, 255);
    color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    left: 25%;
    right: 0;
    height: 50px;
    padding: 12.5px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    z-index: 2;
}

#profileData > span {
    font-size: 12px;
    font-style: italic;
    margin-left: 1em;
    line-height: 50px;
}

#stats {
    position: absolute;
    top: 75px;
    left: 25%;
    right: 0;
    bottom: 0;
}

.bannerLoader {
    position: absolute;
    height: 25px;
    width: 25px;
    top: calc(50% - 12.5px);
    left: calc(50% - 12.5px);
    border-top: 2px solid rgba(0, 0, 0, 0.25);
    animation: load 1s linear infinite;
    border-radius: 50%;
}

.statIcon {
    font-size: 50px;
    line-height: 50px;
    position: absolute;
    text-align: left;
    left: 0;
    top: 0;
    margin: 12.5px !important;
}

#ghStats {
    position: absolute;
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    left: 0;
}

#ghLoader {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(36,41,46);
    z-index: 5;
}

#ghSpinnerCover {
    clip-path: path('M 88.1719 0.4144 a 88.1719 88.1719 90 0 0 -27.8799 171.8205 c 4.4086 0.7759 6.0574 -1.8692 6.0574 -4.1882 c 0 -2.0897 -0.1058 -9.0376 -0.1058 -16.4176 c -22.1576 4.0735 -27.8888 -5.4049 -29.6522 -10.3602 a 32.0593 32.0593 90 0 0 -9.0376 -12.4587 c -3.086 -1.6488 -7.4946 -5.7312 -0.1146 -5.837 a 17.6432 17.6432 90 0 1 13.5608 9.0376 a 18.8423 18.8423 90 0 0 25.6756 7.2742 a 18.5514 18.5514 90 0 1 5.6254 -11.7974 c -19.6182 -2.2043 -40.1182 -9.8047 -40.1182 -43.5305 a 34.3165 34.3165 90 0 1 9.0376 -23.7006 a 31.689 31.689 90 0 1 0.8817 -23.3655 s 7.38 -2.3101 24.2473 9.0376 a 83.1196 83.1196 90 0 1 44.0859 0 c 16.8585 -11.4623 24.2473 -9.0376 24.2473 -9.0376 a 31.6802 31.6802 90 0 1 0.8817 23.3655 a 34.1137 34.1137 90 0 1 9.0376 23.7006 c 0 33.8315 -20.6146 41.3262 -40.2328 43.5305 a 20.8791 20.8791 90 0 1 5.9516 16.3118 c 0 11.7974 -0.1058 21.2759 -0.1058 24.2473 c 0 2.3189 1.6488 5.0699 6.0574 4.1882 A 88.216 88.216 90 0 0 88.1719 0.4144 z');
    background-color: transparent;
    position: absolute;
    height: 180px;
    width: 180px;
    top: calc(50% - 90px);
    left: calc(50% - 90px);
    overflow: hidden;
}

#ghSpinner {
    position: absolute;
    top: 0;
    left: 0;
    height: 180px;
    width: 90px;
    background-color: white;
    animation: load 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
    transform-origin: 100% 50%;
}

#ghLoader > p {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% + 100px);
    color: white;
    text-align: center;
}

#ghProfileData {
    position: absolute;
    background-color: rgb(36,41,46);
    color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    padding: 12.5px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    z-index: 2;
}

#ghProfileData > span {
    font-size: 12px;
    font-style: italic;
    margin-left: 1em;
    line-height: 50px;
}

#ghstats {
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    bottom: 0;
}

#save-img {
    display: none;
}

#gdRequest {
    position: absolute;
    left: 0;
    right: 0;
    height: 500px;
}

#gdimg {
    position: absolute;
    height: 100%;
    left: 0;
    width: 300px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

#gdimg > img {
    position: absolute;
    top: calc(50% - 100px);
    height: 200px;
    width: 200px;
    left: calc(50% - 100px);
    border-radius: 50%;
}

#gdrequest-main {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    left: 300px;
    color: rgba(0, 0, 0, 0.75);
}

#gdrequest-main .titlebar {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    padding: 12.5px;
    color: white;
    font-size: 20px;
    line-height: 50px;
    text-transform: uppercase;
}

#requestDesc {
    left: 0;
    right: 0;
    top: 75px;
    text-align: center;
    position: absolute;
    padding: 12.5px;
    font-style: italic;
    color: rgba(0, 0, 0, 0.5);
}

#requestForm {
    position: absolute;
    top: 140px;
    left: 0;
    width: 100%;
    max-width: 1100px;
}

#requestForm > input[type="number"],
#requestForm > input[type="text"] {
    border: 1px solid rgba(0, 0, 0, 0.25);
    font-size: 14px;
    line-height: 14px;
    padding: 12.5px;
    font-style: italic;
    transition: box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    margin-right: 20px;
    margin-bottom: 20px;
    width: calc(100% - 35px);
    margin-left: 5px;
}

#requestForm > input[type="number"]:focus,
#requestForm > input[type="text"]:focus {
    outline: none;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(180, 186, 191, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(180, 186, 191, 0.5);
}

#requestForm > button {
    color: white;
    border: 0px solid transparent;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 8px 16px;
    font-style: italic;
    font-size: 15px;
    line-height: 15px;
    cursor: pointer;
    margin-left: 5px;
}

#requestForm > button:hover {
    color: rgba(0, 0, 0, 0.75);
    background-color: rgba(0, 0, 0, 0.1);
}

#email {
    position: absolute;
    left: 0;
    right: 0;
    height: 500px;
}

#contactimg {
    position: absolute;
    height: 100%;
    left: 0;
    width: 300px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

#contactimg > img {
    position: absolute;
    top: calc(50% - 100px);
    height: 200px;
    width: 200px;
    left: calc(50% - 100px);
    border-radius: 50%;
}

#contact-main {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    left: 300px;
    color: rgba(0, 0, 0, 0.75);
}

#contact-main .titlebar {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    padding: 12.5px;
    color: white;
    font-size: 20px;
    line-height: 50px;
    text-transform: uppercase;
}

#contactForm {
    position: absolute;
    top: 140px;
    left: 0;
    width: 100%;
    max-width: 1100px;
}

#contactForm > input[type="text"] {
    border: 1px solid rgba(0, 0, 0, 0.25);
    font-size: 14px;
    line-height: 14px;
    padding: 12.5px;
    font-style: italic;
    transition: box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    margin-right: 20px;
    margin-bottom: 20px;
    width: calc(100% - 35px);
    margin-left: 5px;
}

#contactForm > input[type="text"]:focus {
    outline: none;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(180, 186, 191, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(180, 186, 191, 0.5);
}

#contactForm > button {
    color: white;
    border: 0px solid transparent;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 8px 16px;
    font-style: italic;
    font-size: 15px;
    line-height: 15px;
    cursor: pointer;
    margin-left: 5px;
}

#contactForm > button:hover {
    color: rgba(0, 0, 0, 0.75);
    background-color: rgba(0, 0, 0, 0.1);
}

#requestForm > input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    position: relative;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
}

#numArrows {
    position: absolute;
    left: calc(100% - 25px);
    top: 67.5px;
    z-index: 2;
}

.numArrow {
    cursor: pointer;
    display: inline-block;
    line-height: 0px;
    margin: 0;
    padding: 0;
    transition: all 0.25s ease-out;
}

.numArrow.up:hover {
    transform: translateY(-2px);
}

.numArrow.down:hover {
    transform: translateY(2px);
}

#footer {
    position: absolute;
    top: 4070px;
    left: 0;
    right: 0;
    height: 330px;
    color: rgba(0, 0, 0, 0.75);
    background-color: currentColor;
}

#footer:hover {
    color: black;
}

#footer > a:not([href="#"]) {
    color: white !important;
    height: 75px;
    width: 75px;
    position: absolute;
    left: calc(50% - 37.5px);
    text-align: center;
    top: 120px;;
    text-decoration: none;
}

#footer > a:not([href="#"]) > .iconify {
    height: 75px;
    width: 75px;
}

#footer > *:hover {
    opacity: 0.75;
}

#footer > a:not([href="https://www.youtube.com/channel/UCuK3qqLTl3oyk_Kly1x1Wng"]) {
    position: absolute;
    text-align: center;
    color: currentColor;
    padding: 8px 16px;
    background-color: white;
    text-decoration: none;
    top: 25px;
    left: calc(50% - 60px);
}

@keyframes load {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (min-width: 1000px) {
    .content {
        left: calc(50% - 500px) !important;
    }

    .skillBar {
        left: calc(50% - 500px) !important;
    }

    .skillText {
        left: calc(50% - 500px) !important;
    }

    #requestForm {
        left: calc(50% - 500px);
    }

    #requestForm > input[type="number"],
    #requestForm > input[type="text"] {
        width: 475px;
        margin-left: 0;
    }

    #reqmsg {
        width: 1000px !important;
    }

    #numArrows {
        position: absolute;
        left: 1007.5px;
        top: 3.5px;
        z-index: 2;
    }

    #contactForm > button {
        margin-left: 0;
    }

    #contactForm {
        left: calc(50% - 500px);
    }

    #contactForm > input[type="text"] {
        width: 475px;
        margin-left: 0;
    }

    #contactmsg {
        width: 1000px !important;
    }

    #contactForm > button {
        margin-left: 0;
    }
}
